/*Header Start */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 4px;
    background:#001F3F;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
}

#navbar {
    display: flex;
    align-items: center;
    gap: 35px;
}

#navbar li {
    list-style: none;
    padding:3px 3px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #BFFF00;
    transition: 0.03s ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#cce7d0;
}
#navbar li a.active::after,#navbar li a:hover::after{
    content:"";
    width:30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left:20px;
}

/*HOME PAGE */
#hero{
    background-image: url(img/hero.png);
    height: 219vh;
    width: 100%;
    background-size: cover;
    background-position: top 15% right 25;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#hero h1{
    font-size: 59px;
    color: rgba(0, 0, 0, 0.847);
    background: linear-gradient(to right, #ff8c00, #ff4500);
    padding: 10px 15px;
    border-radius: 13px;
    font-family: 'Poppins', sans-serif;
}
#hero h1:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
}

#hero h2{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background: none;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right,#ff8c00,#ff4500);
    padding: 10px 15px;
}
#hero h2:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.05); 
}
#hero a{

    background: linear-gradient(to right, #ff8c00, #ff4500);
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    transition: all 0.3s ease-in-out;
}
#hero a:hover{
    background: #ff4500;
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
}
#hero p{
    font-size: 18px;
    font-weight: bold;
    color:rgba(0, 0, 0, 0.881);
    text-align: center;
    margin-top: 10px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 4px;
    margin: 15px 0;
}
#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.01);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}
#feature .fe-box h3{
    display:inline-block;
    padding:9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color:#fddde4;
}
#feature .fe-box:nth-child(2) h3 {
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h3 {
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h3 {
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h3 {
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h3 {
    background-color: #fff2e5;
}

/*PRODUCT SHOWING*/

#nikepro{
    padding: 20px;
    text-align: center;
    background-color: #d1e8f2;
    margin: 30px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-width: 400px;
}
h2{
    text-align: center;
    font-size: 40px;
    color:#C0FF00;
    background-color: #003366;
}
#nikepro:hover{
    transform: scale(1.05);
    transition: 0.10s;
}
#nikepro button{
    padding: 3px 10px;
    box-shadow:0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: url(img/button.png);
    background-color: #BFFF00;
    border-radius: 10px;
    font-size: 30px;
}
#nikepro button:hover{
    transform: scale(1.05);
}
#nameshow h3{
    font-size: 40px;
    text-align: center;
    color: #C0FF00;
    background-color:#003366 ;
}
#products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*NIKE PRODUCTS*/
#pro{
    position: relative;
    padding: 20px;
    text-align: center;
    background-color: #d1e8f2;
    margin: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    max-width: 400px;
    max-height: 450px;
}
#pro:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.05);
}
.cart-icon{
    position: absolute;
    left: 23px;
    top: 367px;
    width:100px;
    height: 100;
    background-color: white;
    padding: 5px;    
    border-radius: 20px;
}
.cart-icon:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.10);
}
#pro h3{
    position: absolute;
    left :150px;
    top: 410;
    font-size: 25;
}
#nike{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*Cart Section*/
#cart{
    width: 80%; 
    gap: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#cart-items{
    display: flex;
    gap: 20px;
}
.cart-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #d1e8f2;
    padding: 15px;
    border-radius: 20px;
    text-align:center;
    width: 300px;
    height: 300px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

